<section class="section hero bg-full" data-image-src="<%= image_path('hero-1.jpg') %>">
    <noscript>
        <%= image_tag image_path('hero-1.jpg') %>
    </noscript>
    <div class="section-description">
        <h1 class="section-title">Your planner at your finger tips</h1>
        <button class="btn section-action">Plan my event</button>
    </div>
</section>