<% provide(:title, "Login") %>


<section class="hero">
    <section class="bg-full" data-image-src="<%= image_path('hero-1.jpg') %>">
        <noscript>
            <%= image_tag image_path('hero-1.jpg') %>
        </noscript>
    </section>

    <div class="user-man-description">
        <h1 class="user-man-title">Login</h1>
        <div class="col-2">
            <div class="col-block">
                <p>You're steps away from being able to create a new event and being matched with a planner!  Let's get started...</p>
            </div>
            <div class="col-block col-block-right">
                <%= render 'shared/login_form' %>
            </div>
        </div>
    </div>

</section>
