<h1>Hi, <%= @user.first_name || @user.email %>!</h1>

<p>To reset your password, please use this link: <%= url_for(controller: "password_resets", action: "edit", token: @user.token.to_s) %>, within the next 2 hours. If you are unable to reset your password within the next 2 hours, please restart your "forgot password", <%= url_for(controller: "password_resets", action: "new" %>, process again.</p>

<p>
    Thank you, <br />
    The Plannr Team
</p>
