<h1>Hi, <%= @user.first_name.present? ? @user.first_name : @user.email %>!</h1>

<p>Thank you for joining Plannr.  Start by logging into <a href="www.yourplannr.com/login">Plannr</a> and create an event.</p>

<p>Once you give us some details about your event, the Plannr staff will contact you with your matched planner!</p>

<p>
    Thanks you,<br />
    The Plannr Team<br />
</p>