.page{
    position: relative;
    .dashboard & {
        background-image: image_url('texture-bg.png');
        form {
            display: block;
            padding: 1.5em;
            border-radius: 3px;
            background-color: #fff;
        }
    }
}
.site-header {
    @include outer-container;
    padding: 3em 1.5em 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    @media screen and (max-width: 768px) {
        bottom: auto;
    }
    .dashboard & {
        padding-bottom: 1.5em;
        position: relative;
    }
    nav {
        width: 50%;
        line-height: 6em;
        float: right;
        text-align: right;
        a {
            display: inline-block;
            font-size: 2em;
            line-height: 3;
            text-decoration: none;
            text-transform: lowercase;
            vertical-align: top;
            color: #fff;
            &:hover {
                color: rgba(255, 255, 255, 0.75);
            }
            .dashboard & {
                margin-right: .75em;
                padding-right: .75em;
                border-right: 1px solid #333;
                color: #333;
                font-size: 1em;
                vertical-align: bottom;
                &:last-child {
                    margin: 0;
                    padding: 0;
                    border-right: none;
                }
            }
        }
    }
    .logo {
        width: 50%;
        float: left;
        a {
            display: block;
            height: 3em;
            background-image: image_url('logo-light.png');
            background-position: left top;
            background-repeat: no-repeat;
            background-size: auto 100%;
            text-indent: -9999px;
            .dashboard & {
                background-image: image_url('logo-dark.png');
            }
        }
    }
}

.site-main {
    .dashboard & {
        .section-header {
            @extend .clearfix;
            margin-bottom: 1.5em;
            padding: 1.5em 0;
            background-color: #fafafa;
        }
    }
}

.site-footer {
    background-color: #f26c55;
    color: #fff;
    .container {
        @include outer-container;
        padding: .75em 1.5em;
    }
}
