.page{
    position: relative;
}
.site-header {
    @include outer-container;
    padding: 0 1.5em;
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    z-index: 1;
    .homepage & {
        top: 640px;
        @media screen and (max-width: 768px) {
            top: 3em;
            bottom: auto;
        }
    }
    @media screen and (max-width: 768px) {
        bottom: auto;
    }
    a {
        color: #fff;
    }
    nav {
        width: 50%;
        line-height: 6em;
        float: right;
        text-align: right;
        a {
            display: inline-block;
            border-bottom: 1px solid #fff;
            font-size: 1.5em;
            line-height: 1;
            text-decoration: none;
            text-transform: lowercase;
            vertical-align: top;
            .homepage & {
                vertical-align: bottom;
            }
        }
    }
    .logo {
        width: 50%;
        float: left;
        a {
            display: block;
            // width: 4em;
            height: 3em;
            background-image: image_url('logo-light.png');
            background-position: left top;
            background-repeat: no-repeat;
            background-size: auto 100%;
            text-indent: -9999px;
        }
    }
}