<% provide(:title, "Register") %>


<section class="hero">
    <section class="bg-full" data-image-src="<%= image_path('hero-1.jpg') %>">
        <noscript>
            <%= image_tag image_path('hero-1.jpg') %>
        </noscript>
    </section>
    <div class="user-man-description">
        <h1 class="user-man-title">Working with us.</h1>
        <div class="col-2">
            <div class="col-block">
                <p>We're excited that you've decided to register with us.  We're hopeful that you'll never need to plan another event by yourself, or pay huge amounts of money to other professional event services.  We're going to make it easy for you to find fun, personable event planners in an efficient, and low-cost manner.<br /><br />  <b>Welcome from the plannr staff!</b> </p>
            </div>
            <div class="col-block col-block-right">
                <%= render 'form' %>
            </div>
        </div>
    </div>
</section>

