# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 6861c0c7893f7ce554b275745f4925507bad8955a044ec5e8c178e3af0c163c16f531b58ed98270751540a7a01e3a17a0bef6764869fbcc770e59e079be16813

test:
  secret_key_base: c9f850b0deee0701d4d723b1e6cf6233f5e9c1e5fd106c0ba1ec7f8b0aa831cc8bd1efe4f49fdcfd5c9445d5574f0bee2abda73aeeff1c2dd1b8ec1cb9c495c1

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
