.btn {
    transition: -webkit-transform .3s;
    display: inline-block;  
    padding: .75em 1.5em;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    &:focus {
        outline: none;
    }
    &:hover {
        -webkit-transform: translateY(2px);
    }
}

.btn-primary {
    background-color: #eee;
}

.btn-accent {
    background-color: $color-accent;
    color: #fff;
}