input {
    display: block;
    width: 100%;
    border: none;
    &:focus {
        outline: none;
    }
    &[type="submit"] {
        width: auto;
    }
}

.field {
    padding: .25em .75em .5em;
    border: 1px solid #eee;
    &.action {
        border: none;
    }
    label {
        margin-bottom: 1em;
        font-size: .75em;
        text-transform: uppercase;
    }
}