.modal-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #000;
    background-color: rgba(#000, .8);
}

.modal-box {
    width: 420px;
    margin: 0 auto;
    padding: 1.5em;
    background-color: #fff;
    position: relative;
}

.modal-close {
    position: absolute;
    top: .75em;
    right: .75em;
}